# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore static and media files (if generated)
staticfiles/
static/
media/

# Ignore environment variables
.env

# Ignore database files
*.sqlite3
db.sqlite3
